<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@using BlogMVC.Services.Interfaces
@inject SignInManager<BlogUser> SignInManager
@inject IBlogPostService BlogPostService

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTB</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/base.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">

    <!-- Google Fonts -->
    @*<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">*@

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@{
    List<Category> categories = (await BlogPostService.GetCategoriesAsync()).Take(8).ToList();
    List<Tag> tags = (await BlogPostService.GetTagsAsync()).Take(8).ToList();
}

<body>
    <div class="main-wrapper">
        @*<div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>*@

        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <span title="Light Mode">Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <span title="Dark Mode">Dark</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Start Header -->
        <header class="header axil-header header-light header-sticky header-with-shadow">
            <div class="header-wrap">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img class="dark-logo" src="~/img/TTBLogoName_500.png" class="img-fluid" style="max-height: 150px;" alt="TTB logo">
                                <img class="light-logo" src="~/img/TTBLogoName_darkmode_500.png" class="img-fluid" style="max-height: 150px;" alt="TTB logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 d-none d-xl-block">
                        <div class="mainmenu-wrapper">
                            <nav class="mainmenu-nav">
                                <!-- Start Mainmanu Nav -->
                                <ul class="mainmenu">
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <!-- BlogPosts -->
                                    <li class="menu-item-has-children">
                                        <a asp-controller="BlogPosts" asp-action="Index">BlogPosts</a>
                                        @* user is logged in and is an admin or mod to create and publish unpublished posts *@
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || User.IsInRole("Author"))
                                        {
                                            <ul class="axil-submenu">
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="Create">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Create New">Create New</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                                {
                                                    <li>
                                                        <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="PostsUnpub">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Unpublished Posts">Unpublished Posts</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                                @* only admin can see deleted posts *@
                                                @if (User.IsInRole("Administrator"))
                                                {
                                                    <li>
                                                        <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="DeletedPostsPub">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Deleted Posts - Published">Deleted Posts - Published</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="DeletedPostsUnpub">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Deleted Posts - Unpublished">Deleted Posts - Unpublished</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                    <!-- Categories -->
                                    <li class="menu-item-has-children">
                                        <a asp-controller="Categories" asp-action="Index">Categories</a>

                                        <ul class="axil-submenu">
                                            @* user is logged in and is an admin or mod to create categories *@
                                            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                            {
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="Categories" asp-action="Create">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Create New">Create New</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                            @foreach (Category item in categories)
                                            {
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id">
                                                        <span class="hover-flip-item">
                                                            <span data-text="@item.Name">@item.Name</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <!-- Comments -->
                                    <!-- user has to be an admin or mod to see comments -->
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                    {
                                        <li><a asp-controller="Comments" asp-action="Index">Comments</a></li>
                                    }
                                    <!-- Tags -->
                                    <li class="menu-item-has-children">
                                        <a asp-controller="Tags" asp-action="Index">Tags</a>

                                        <ul class="axil-submenu">
                                            @* user is logged in and is an admin or mod to create tags *@
                                            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                            {
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="Tags" asp-action="Create">
                                                        <span class="hover-flip-item">
                                                            <span data-text="Create New">Create New</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                            @foreach (Tag tag in tags)
                                            {
                                                <li>
                                                    <a class="hover-flip-item-wrapper" asp-controller="Tags" asp-action="Details" asp-route-id="@tag.Id">
                                                        <span class="hover-flip-item">
                                                            <span data-text="@tag.Name">@tag.Name</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Home" asp-action="ContactMe">Contact Me</a></li>
                                </ul>
                                <!-- End Mainmanu Nav -->
                            </nav>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                        <div class="header-search text-end d-flex align-items-center">

                            <div class="mainmenu-wrapper d-none d-xl-block ms-auto">
                                <div class="mainmenu-nav">
                                    <ul class="mainmenu">
                                        <partial name="_LoginPartial" />
                                    </ul>
                                </div>
                            </div>
                            <form class="header-search-form d-sm-block d-none" asp-controller="Home" asp-action="SearchIndex">
                                <div class="axil-search form-group">
                                    <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                    <input type="text" class="form-control" placeholder="Search" name="SearchStr" id="SearchStr">
                                </div>
                            </form>
                            <div class="mobile-search-wrapper d-sm-none d-block">
                                <button class="search-button-toggle"><i class="fal fa-search"></i></button>
                                <form class="header-search-form" asp-controller="Home" asp-action="SearchIndex">
                                    <div class="axil-search form-group">
                                        <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                        <input type="text" class="form-control" placeholder="Search" name="SearchStr" id="SearchStr">
                                    </div>
                                </form>
                            </div>

                            <!-- Start Hamburger Menu  -->
                            <div class="hamburger-menu d-block d-xl-none me-sm-auto">
                                <div class="hamburger-inner">
                                    <div class="icon"><i class="fal fa-bars"></i></div>
                                </div>
                            </div>
                            <!-- End Hamburger Menu  -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Start Header -->

        <!-- Start Mobile Menu Area  -->
        <div class="popup-mobilemenu-area">
            <div class="inner">
                <div class="mobile-menu-top">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img class="dark-logo" src="~/img/TTBLogoName_500.png" class="img-fluid" style="max-height: 150px;" alt="TTB logo">
                            <img class="light-logo" src="~/img/TTBLogoName_darkmode_500.png" class="img-fluid" style="max-height: 150px;" alt="TTB logo">
                        </a>
                    </div>
                    <div class="mobile-close">
                        <div class="icon">
                            <i class="fal fa-times"></i>
                        </div>
                    </div>
                </div>
                <ul class="mainmenu">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <!-- BlogPosts -->
                    <li class="menu-item-has-children">
                        <a href="#">BlogPosts</a>
                        @* user is logged in and is an admin or mod to create and publish unpublished posts *@
                        <ul class="axil-submenu">
                            <li>
                                <a asp-controller="BlogPosts" asp-action="Index">Published Posts</a>
                            </li>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || User.IsInRole("Author"))
                            {
                                <li>
                                    <a asp-controller="BlogPosts" asp-action="Create">Create New</a>
                                </li>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                {
                                    <li>
                                        <a asp-controller="BlogPosts" asp-action="PostsUnpub">Unpublished Posts</a>
                                    </li>
                                }
                                @* only admin can see deleted posts *@
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li>
                                        <a asp-controller="BlogPosts" asp-action="DeletedPostsPub">Deleted Posts - Published</a>
                                    </li>
                                    <li>
                                        <a asp-controller="BlogPosts" asp-action="DeletedPostsUnpub">Deleted Posts - Unpublished</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <!-- Categories -->
                    <li class="menu-item-has-children">
                        <a href="#">Categories</a>
                        <ul class="axil-submenu">
                            @* user is logged in and is an admin or mod to create categories *@
                            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                            {
                                <li>
                                    <a asp-controller="Categories" asp-action="Create">Create New</a>
                                </li>
                            }
                            @foreach (Category item in categories)
                            {
                                <li>
                                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                </li>
                            }
                            <li>
                                <a asp-controller="Categories" asp-action="Index">All Categories</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Comments -->
                    <!-- user has to be an admin or mod to see comments -->
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <li><a asp-controller="Comments" asp-action="Index">Comments</a></li>
                    }
                    <!-- Tags -->
                    <li class="menu-item-has-children">
                        <a href="#">Tags</a>
                        <ul class="axil-submenu">
                            @* user is logged in and is an admin or mod to create tags *@
                            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                            {
                                <li>
                                    <a asp-controller="Tags" asp-action="Create">Create New</a>
                                </li>
                            }
                            @foreach (Tag tag in tags)
                            {
                                <li>
                                    <a asp-controller="Tags" asp-action="Details" asp-route-id="@tag.Id">@tag.Name</a>
                                </li>
                            }
                            <li>
                                <a asp-controller="Tags" asp-action="Index">All Tags</a>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-controller="Home" asp-action="ContactMe">Contact Me</a></li>

                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                        </li>
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#" onclick="document.getElementById('logoutForm').submit()">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- End Mobile Menu Area  -->
        @RenderBody()

        <!-- Start Footer Area  -->
        <div class="axil-footer-area axil-footer-style-1 bg-color-white">
            <!-- Start Footer Top Area  -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Start Post List  -->
                            <div class="inner d-flex align-items-center flex-wrap">
                                <h5 class="follow-title mb--0 mr--20">Connect With Me</h5>
                                <ul class="social-icon color-tertiary md-size justify-content-start">
                                    <li><a href="https://tomnguyen9517.netlify.app/"><i class="far fa-blog"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/txn9517"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://github.com/tn2690/"><i class="fab fa-github"></i></a></li>
                                    <li><a href="mailto:tndallas9517@gmail.com"><i class="far fa-envelope"></i></a></li>
                                </ul>
                            </div>
                            <!-- End Post List  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top Area  -->
            <!-- Start Copyright Area  -->
            <div class="copyright-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-9 col-md-8">
                            <div class="copyright-left">
                                <div class="logo">
                                    <a asp-controller="Home" asp-action="Index">
                                        <img class="dark-logo" src="~/img/TTBLogoOnly_500.png" class="img-fluid" style="max-height: 50px;" alt="TTB logo">
                                        <img class="light-logo" src="~/img/TTBLogoOnly_500.png" class="img-fluid" style="max-height: 50px;" alt="TTB logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 col-md-4">
                            <div class="copyright-right text-start text-lg-end mt_md--20 mt_sm--20">
                                <p class="b3">Site Created By Tom Nguyen | All Rights Reserved © 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Area  -->
        </div>
        <!-- End Footer Area  -->

        <!-- Start Back To Top  -->
        <a id="backto-top"></a>
        <!-- End Back To Top  -->
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/slick.min.js"></script>
    <script src="~/assets/js/vendor/tweenmax.min.js"></script>
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <script src="~/assets/js/vendor/jquery.style.switcher.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- CKEditor 5 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>

    <!-- Sweet Alerts -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>