@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@inject IImageService ImageService
@inject IBlogPostService BlogPostService

@{
}

<!-- Sidebar Partial View -->

<!-- Start Sidebar Area  -->
<div class="sidebar-inner">

    <!-- Category -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <h5 class="widget-title">Categories</h5>
        <ul>
            @foreach (Category item in (await BlogPostService.GetCategoriesAsync()).Take(6))
            {
                <li class="cat-item">
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" class="inner">
                        <div class="thumbnail">
                            <img src="@ImageService.ConvertByteArrayToFile(item.ImageData!, item.ImageType!, (int)DefaultImage.CategoryImage)" alt="category pictures">
                        </div>
                        <div class="content">
                            <h5 class="title">@item.Name</h5>
                            <ul class="post-meta-list">
                                @if (item.BlogPosts.Count > 1)
                                {
                                    <li>@item.BlogPosts.Count posts</li>
                                }
                                else if (item.BlogPosts.Count == 1)
                                {
                                    <li>@item.BlogPosts.Count post</li>
                                }
                                else
                                {
                                    <li>0 posts</li>
                                }
                            </ul>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- End Single Widget  -->

    <!-- Most Popular Posts -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular on Tom's Tech Blog</h5>

        <!-- Start Post List  -->
        <div class="post-medium-block">
            @foreach (BlogPost post in (await BlogPostService.GetMostPopularBlogPostsAsync()).Take(6))
            {
                <!-- Start Single Post  -->
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                            <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                        </a>
                    </div>

                    <div class="post-content">
                        <h6 class="title">
                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                @post.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                <li>@post.Comments!.Count comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->

    <!-- Recent Blog Posts -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Most Recent Posts</h5>

        <!-- Start Post List  -->
        <div class="post-medium-block">
            @foreach (BlogPost post in (await BlogPostService.GetRecentBlogPostsAsync(3)))
            {
                <!-- Start Single Post  -->
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                            <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                        </a>
                    </div>

                    <div class="post-content">
                        <h6 class="title">
                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                @post.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                <li>@post.Comments!.Count comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->

    <!-- Tags -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <h5 class="widget-title">Tags</h5>
        <ul>
            @foreach (Tag item in (await BlogPostService.GetTagsAsync()).Take(6))
            {
                <li class="cat-item">
                    <a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id" class="inner">
                        <div class="content">
                            <h5 class="title">@item.Name</h5>
                            <ul class="post-meta-list">
                                @if (item.BlogPosts.Count > 1)
                                {
                                    <li>@item.BlogPosts.Count posts</li>
                                }
                                else if (item.BlogPosts.Count == 1)
                                {
                                    <li>@item.BlogPosts.Count post</li>
                                }
                                else
                                {
                                    <li>0 posts</li>
                                }
                            </ul>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Stay In Touch</h5>
        <!-- Start Post List  -->
        <ul class="social-icon md-size justify-content-center">
            <li><a href="https://www.linkedin.com/in/txn9517"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="https://github.com/tn2690/"><i class="fab fa-github"></i></a></li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->

</div>
<!-- End Sidebar Area  -->
