@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@inject IImageService ImageService
@inject IBlogPostService BlogPostService

@{
}

<!-- Start Sidebar Area  -->
<div class="sidebar-inner">

    <!-- Category -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <h5 class="widget-title">Categories</h5>
        <ul>
            @foreach (Category item in (await BlogPostService.GetCategoriesAsync()).Take(4))
            {
                <li class="cat-item">
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" class="inner">
                        <div class="thumbnail">
                            <img src="@ImageService.ConvertByteArrayToFile(item.ImageData!, item.ImageType!, (int)DefaultImage.CategoryImage)" alt="category pictures">
                        </div>
                        <div class="content">
                            <h5 class="title">@item.Name</h5>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- End Single Widget  -->

    @*<!-- Search -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_search mb--30">
    <h5 class="widget-title">Search</h5>
    <form action="#">
    <div class="axil-search form-group">
    <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
    <input type="text" class="form-control" placeholder="Search">
    </div>
    </form>
    </div>
    <!-- End Single Widget  -->*@

    <!-- Most Popular Posts -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Popular on Tom's Tech Blog</h5>

        <!-- Start Post List  -->
        <div class="post-medium-block">
            @foreach (BlogPost post in (await BlogPostService.GetMostPopularBlogPostsAsync()).Take(5))
            {
                <!-- Start Single Post  -->
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                            <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                        </a>
                    </div>

                    <div class="post-content">
                        <h6 class="title">
                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                @post.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                <li>@post.Comments!.Count comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->

    <!-- Recent Blog Posts -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_postlist mb--30">
        <h5 class="widget-title">Most Recent Posts</h5>

        <!-- Start Post List  -->
        <div class="post-medium-block">
            @foreach (BlogPost post in (await BlogPostService.GetRecentBlogPostsAsync(3)))
            {
                <!-- Start Single Post  -->
                <div class="content-block post-medium mb--20">
                    <div class="post-thumbnail">
                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                            <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                        </a>
                    </div>

                    <div class="post-content">
                        <h6 class="title">
                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                @post.Title
                            </a>
                        </h6>
                        <div class="post-meta">
                            <ul class="post-meta-list">
                                <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                <li>@post.Comments!.Count comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->

    <!-- Tags -->
    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_categories mb--30">
        <h5 class="widget-title">Tags</h5>
        <ul>
            @foreach (Tag item in (await BlogPostService.GetTagsAsync()).Take(100))
            {
                <li class="cat-item">
                    <a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id" class="inner">
                        <div class="content">
                            <h5 class="title">@item.Name</h5>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_social mb--30">
        <h5 class="widget-title">Stay In Touch</h5>
        <!-- Start Post List  -->
        <ul class="social-icon md-size justify-content-center">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-slack"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->

    <!-- Start Single Widget  -->
    <div class="axil-single-widget widget widget_instagram mb--30">
        <h5 class="widget-title">Instagram</h5>
        <!-- Start Post List  -->
        <ul class="instagram-post-list-wrapper">
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-01.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-02.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-03.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-04.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-05.jpg" alt="Instagram Images">
                </a>
            </li>
            <li class="instagram-post-list">
                <a href="#">
                    <img src="~/assets/images/small-images/instagram-06.jpg" alt="Instagram Images">
                </a>
            </li>
        </ul>
        <!-- End Post List  -->
    </div>
    <!-- End Single Widget  -->

</div>
<!-- End Sidebar Area  -->
