@model BlogMVC.Models.Comment

@{
    ViewData["Title"] = "Delete";
}

<!-- Comment Deletion -->

<div class="container mt-5">

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2>Are you sure?</h2>
            <p class="text-lead text-muted">This comment will be deleted.</p>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper" asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@Model.BlogPost!.Slug">
                                            <span data-text="@Model.BlogPost!.Title">@Model.BlogPost!.Title</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-text">
                                    <span class="fw-bold me-2">Author:</span>@Model.Author!.FullName
                                </div>
                                <div class="title">
                                    <span class="fw-bold me-2">Comment:</span>@Model.Body
                                </div>
                                <div class="card-text">
                                    <span class="fw-bold me-2">Date Created:</span>@Model.DateCreated
                                </div>
                                <div class="card-text">
                                    <span class="fw-bold me-2">Last Updated:</span>@Model.LastUpdated
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="d-flex justify-content-between" asp-action="Delete" asp-route-id="@Model.Id">
                <input hidden asp-for="Id" />
                <a asp-action="Index" asp-controller="Comments" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
                <button type="submit" class="btn btn-danger rounded-pill btnLink">Delete</button>
            </form>
        </div>
    </div>
    
</div>