@model BlogMVC.Models.Category
@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@inject IImageService ImageService

@{
    ViewData["Title"] = "Delete";
}

<!-- Category Deletion -->

<div class="container mt-5">

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2>Are you sure?</h2>
            <p class="text-lead text-muted">This category will be deleted, along with all posts assigned to it.</p>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 square-img-container">
                        <img src="@ImageService.ConvertByteArrayToFile(@Model.ImageData!, @Model.ImageType!, (int)DefaultImage.CategoryImage)" class="square-img rounded-start" alt="category pictures">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="post-content">
                                <h4 class="title"><a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a></h4>
                                <div class="card-text">
                                        <span class="fw-bold me-2">Description:</span>@Model.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="d-flex justify-content-between" asp-action="Delete" asp-route-id="@Model.Id">
                <input hidden asp-for="Id" />
                <a asp-action="Index" asp-controller="Categories" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
                <button type="submit" class="btn btn-danger rounded-pill btnLink">Delete</button>
            </form>
        </div>
    </div>

</div>
