@model IPagedList<BlogMVC.Models.BlogPost>
@using X.PagedList
@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@inject IImageService ImageService
@inject IBlogPostService BlogPostService

@{
    ViewData["Title"] = "Details";
}

<!-- Category Details -->

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Posts For This Category</h2>
                </div>
            </div>
            <div class="col-lg-8 col-xl-8">
                @foreach(BlogPost post in Model) 
                {
                    <!-- Start Post List  -->
                    <div class="content-block post-list-view mt--30">
                        <div class="post-thumbnail">
                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-cat">
                                <div class="post-cat-list">
                                    <a class="hover-flip-item-wrapper">
                                        <span class="hover-flip-item">
                                            <span data-text="@post.Category!.Name">@post.Category!.Name</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <h4 class="title">
                                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                    @post.Title
                                </a>
                            </h4>
                            <div class="post-meta-wrapper">
                                <div class="post-meta">
                                    <div class="content">
                                        <h6 class="post-author-name">
                                            <a class="hover-flip-item-wrapper">
                                                <span class="hover-flip-item">
                                                    <span data-text="@post.Creator?.FullName">@post.Creator?.FullName</span>
                                                </span>
                                            </a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                            <li>@post.Comments!.Count comments</li>
                                        </ul>
                                        @* user has to be an admin or mod to see Edit *@
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                        {
                                            <div class="row my-2">
                                                <div class="col-12 col-lg-6">
                                                    <a class="btn btn-primary rounded-pill" asp-action="Edit" asp-controller="BlogPosts" asp-route-id="@post.Id">
                                                        <span data-text="Edit">Edit</span>
                                                    </a>
                                                </div>
                                                @* user has to be an admin to see Delete *@
                                                @if (User.IsInRole("Administrator"))
                                                {
                                                    <div class="col-12 col-lg-6">
                                                        <a class="btn btn-primary rounded-pill" asp-action="Delete" asp-controller="BlogPosts" asp-route-id="@post.Id">
                                                            <span data-text="Delete">Delete</span>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                                <ul class="social-share-transparent justify-content-end">
                                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/?trk=guest_homepage-basic_nav-header-logo"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Post List  -->
                }

                <!-- add page list -->
                <div class="d-flex justify-content-end my-auto">
                    Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
                </div>
                <div id="page-selector" class="my-2 py-2">
                    @Html.PagedListPager(Model, pageNum => Url.Action("Details", new { pageNum, id = Model.FirstOrDefault()?.CategoryId }),
                    new PagedListRenderOptions {
                    ContainerDivClasses = new string[] { "axil-single-widget", "widget", "widget_social" },
                    UlElementClasses = new string[] { "social-icon", "justify-content-center" },
                    LiElementClasses = new string[] { "fab", "fw-bold" }
                    })
                </div>

                <div class="mt-2 text-end">
                    <a asp-action="Index" class="btn btn-primary rounded-pill">Back to List</a>
                </div>

            </div>
            <!-- add sidebar partial -->
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_Sidebar" />
            </div>
        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->
