@model IEnumerable<BlogMVC.Models.Category>
@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@inject IImageService ImageService
@inject IBlogPostService BlogPostService

@{
    ViewData["Title"] = "Index";
}

<!-- Category Index -->

<div class="container mt-5">
    <div class="axil-single-widget widget widget_categories mb--30">
        <h1>Categories</h1>
        @* user is logged in and is an admin or mod to create categories *@
        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
        {
            <div class="row mb-3">
                <div class="col-12 col-lg-3">
                    <a asp-action="Create" class="btn btn-primary rounded-pill">Create New</a>
                    </div>
            </div>
        }
        <ul>
            @foreach (Category item in (await BlogPostService.GetCategoriesAsync()))
            {
                <li class="cat-item">
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" class="inner">
                        <div class="thumbnail">
                            <img src="@ImageService.ConvertByteArrayToFile(item.ImageData!, item.ImageType!, (int)DefaultImage.CategoryImage)" alt="category pictures">
                        </div>
                        <div class="content">
                            <h5 class="title">@item.Name</h5>
                        </div>
                    </a>

                    @* user has to be an admin or mod to edit categories *@
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <a asp-action="Edit" class="btn btn-primary rounded-pill" asp-route-id="@item.Id">Edit</a>
                            
                        @* user has to be an admin to delete categories *@
                        @if (User.IsInRole("Administrator"))
                        {
                                <a asp-action="Delete" class="btn btn-primary rounded-pill" asp-route-id="@item.Id">Delete</a>
                         }
                    }
                </li>
            }
        </ul>
    </div>
</div>