@model IEnumerable<BlogMVC.Models.Tag>
@using BlogMVC.Services.Interfaces
@inject IBlogPostService BlogPostService

@{
    ViewData["Title"] = "Index";
}

<!-- Tag Index -->

<div class="container mt-5">
    <div class="axil-single-widget widget widget_categories mb--30">
        <h1>Tags</h1>
        <ul>
            @foreach (Tag item in (await BlogPostService.GetTagsAsync()))
            {
                <li class="cat-item">
                    <a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id" class="inner">
                        <div class="content">
                            <h5 class="title">@item.Name</h5>
                            <ul class="post-meta-list">
                                @if (item.BlogPosts.Count > 1)
                                {
                                    <li>@item.BlogPosts.Count posts</li>
                                }
                                else if (item.BlogPosts.Count == 1)
                                {
                                    <li>@item.BlogPosts.Count post</li>
                                }
                                else
                                {
                                    <li>0 posts</li>
                                }
                            </ul>
                        </div>
                    </a>

                    @* user has to be an admin or mod to edit tags *@
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <a asp-action="Edit" class="btn btn-primary rounded-pill" asp-route-id="@item.Id">Edit</a>

                        @* user has to be an admin to delete tags *@
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-action="Delete" class="btn btn-primary rounded-pill" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                </li>
            }
        </ul>
    </div>
</div>