@model BlogMVC.Models.BlogPost
@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@inject IImageService ImageService

@{
    ViewData["Title"] = "Delete";
}

<!-- BlogPost Deletion -->

<div class="container mt-5">

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2>Are you sure?</h2>
            <p class="text-lead text-muted">This post will be deleted. It will be moved to Deleted Posts.</p>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 square-img-container">
                        <img src="@ImageService.ConvertByteArrayToFile(@Model.ImageData!, @Model.ImageType!, (int)DefaultImage.BlogPostImage)" class="square-img rounded-start" alt="blog post pictures">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper">
                                            <span class="hover-flip-item">
                                                <span data-text="@Model.Category!.Name">@Model.Category.Name</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="title"><a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@Model.Slug">@Model.Title</a></h4>
                                <div class="post-meta-wrapper">
                                    <div class="post-meta">
                                        <div class="content">
                                            <h6 class="post-author-name">
                                                <a class="hover-flip-item-wrapper">
                                                    <span class="hover-flip-item">
                                                        <span data-text="@Model.Creator?.FullName">@Model.Creator?.FullName</span>
                                                    </span>
                                                </a>
                                            </h6>
                                            <ul class="post-meta-list">
                                                <li>@Model.DateCreated.ToString("MMM dd, yyyy")</li>
                                                <li>@Model.Comments!.Count comments</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="d-flex justify-content-between" asp-action="Delete" asp-route-id="@Model.Id">
                <input hidden asp-for="Id" />
                <a asp-action="Index" asp-controller="BlogPosts" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
                <button type="submit" class="btn btn-danger rounded-pill btnLink">Delete</button>
            </form>
        </div>
    </div>

</div>

@*<div class="container mt-5">

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>BlogPost</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LastUpdated)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastUpdated)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Slug)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Slug)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Abstract)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Abstract)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsPublished)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsPublished)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageData)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageData)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger rounded-pill btnLink" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>*@
