@model BlogMVC.Models.BlogPost
@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@inject IImageService ImageService
@inject IBlogPostService BlogPostService

@{
    ViewData["Title"] = "Details";
}

<!-- BlogPost Details -->

<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Start Sidebar Area  -->
                <div class="sidebar-inner">

                    <!-- Category -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_categories mb--30">
                        <h5 class="widget-title">Categories</h5>
                        <ul>
                            @foreach (Category item in (await BlogPostService.GetCategoriesAsync()).Take(6))
                            {
                                <li class="cat-item">
                                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" class="inner">
                                        <div class="thumbnail">
                                            <img src="@ImageService.ConvertByteArrayToFile(item.ImageData!, item.ImageType!, (int)DefaultImage.CategoryImage)" alt="category pictures">
                                        </div>
                                        <div class="content">
                                            <h5 class="title">@item.Name</h5>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- End Single Widget  -->

                    <!-- Most Popular Posts -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_postlist mb--30">
                        <h5 class="widget-title">Popular on Tom's Tech Blog</h5>

                        <!-- Start Post List  -->
                        <div class="post-medium-block">
                            @foreach (BlogPost post in (await BlogPostService.GetMostPopularBlogPostsAsync()).Take(6))
                            {
                                <!-- Start Single Post  -->
                                <div class="content-block post-medium mb--20">
                                    <div class="post-thumbnail">
                                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                            <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                                        </a>
                                    </div>

                                    <div class="post-content">
                                        <h6 class="title">
                                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                                @post.Title
                                            </a>
                                        </h6>
                                        <div class="post-meta">
                                            <ul class="post-meta-list">
                                                <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                                <li>@post.Comments!.Count comments</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- End Post List  -->
                    </div>
                    <!-- End Single Widget  -->

                    <!-- Recent Blog Posts -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_postlist mb--30">
                        <h5 class="widget-title">Most Recent Posts</h5>

                        <!-- Start Post List  -->
                        <div class="post-medium-block">
                            @foreach (BlogPost post in (await BlogPostService.GetRecentBlogPostsAsync(3)))
                            {
                                <!-- Start Single Post  -->
                                <div class="content-block post-medium mb--20">
                                    <div class="post-thumbnail">
                                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                            <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                                        </a>
                                    </div>

                                    <div class="post-content">
                                        <h6 class="title">
                                            <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                                @post.Title
                                            </a>
                                        </h6>
                                        <div class="post-meta">
                                            <ul class="post-meta-list">
                                                <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                                <li>@post.Comments!.Count comments</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- End Post List  -->
                    </div>
                    <!-- End Single Widget  -->

                    <!-- Tags -->
                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_categories mb--30">
                        <h5 class="widget-title">Tags</h5>
                        <ul>
                            @foreach (Tag item in (await BlogPostService.GetTagsAsync()).Take(6))
                            {
                                <li class="cat-item">
                                    <a asp-controller="Tags" asp-action="Details" asp-route-id="@item.Id" class="inner">
                                        <div class="content">
                                            <h5 class="title">@item.Name</h5>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- End Single Widget  -->

                    <!-- Start Single Widget  -->
                    <div class="axil-single-widget widget widget_social mb--30">
                        <h5 class="widget-title">Stay In Touch</h5>
                        <!-- Start Post List  -->
                        <ul class="social-icon md-size justify-content-center">
                            <li><a href="https://www.linkedin.com/in/txn9517"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://github.com/tn2690/"><i class="fab fa-github"></i></a></li>
                        </ul>
                        <!-- End Post List  -->
                    </div>
                    <!-- End Single Widget  -->

                </div>
                <!-- End Sidebar Area  -->
            </div>
            <div class="col-lg-8">
                <!-- Start Banner Area -->
                <div class="banner banner-single-post post-formate post-layout axil-section-gapBottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Start Single Slide  -->
                                <div class="content-block">
                                    <!-- Start Post Content  -->
                                    <div class="post-content">
                                        <div class="row">
                                            <div class="col-12 col-lg-9">
                                                <h1 class="title">
                                                    @Model.Title
                                                </h1>
                                            </div>
                                            <div class="col-12 col-lg-3 text-end">
                                                <a asp-action="Index" class="btn btn-lg btn-primary rounded-pill">Back to List</a>
                                            </div>
                                        </div>
                                        <!-- Post Meta  -->
                                        <div class="post-meta-wrapper">
                                            <div class="post-meta">
                                                <div class="post-author-avatar border-rounded">
                                                    <img src="@ImageService.ConvertByteArrayToFile(@Model.Creator?.ImageData!, @Model.Creator?.ImageType!, (int)DefaultImage.BlogUserImage)" class="img-fluid authorImg" alt="author picture">
                                                </div>
                                                <div class="content">
                                                    <h6 class="post-author-name">
                                                        <a class="hover-flip-item-wrapper" asp-action="Index" asp-controller="Home">
                                                            <span class="hover-flip-item">
                                                                <span data-text="@Model.Creator?.FullName">@Model.Creator?.FullName</span>
                                                            </span>
                                                        </a>
                                                    </h6>
                                                    <ul class="post-meta-list">
                                                        <li>@Model.DateCreated.ToString("MMM dd, yyyy")</li>
                                                        <li>@Model.Comments!.Count comments</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="social-share-transparent justify-content-end">
                                                <li><a href="https://www.linkedin.com/in/txn9517"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="https://github.com/tn2690/"><i class="fab fa-github"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Post Content  -->
                                </div>
                                <!-- End Single Slide  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Banner Area -->

                <div class="axil-post-details">
                    <p class="has-medium-font-size">
                        @Model.Abstract
                    </p>

                    <figure class="wp-block-image">
                        <img src="@ImageService.ConvertByteArrayToFile(@Model.ImageData!, @Model.ImageType!, (int)DefaultImage.BlogPostImage)" class="img-fluid" alt="post image">
                    </figure>

                    @Html.Raw(Model.Content)

                    <!-- display each tag -->
                    <div class="tagcloud mt-3">
                        @foreach (Tag tag in Model.Tags)
                        {
                            <a asp-controller="Tags" asp-action="Details" asp-route-id=@tag.Id>@tag.Name</a>
                        }
                    </div>

                    <div class="social-share-block">
                        <div class="post-like">
                            <a href="#"><i class="fal fa-thumbs-up"></i><span>2.2k Like</span></a>
                        </div>
                        <ul class="social-icon icon-rounded-transparent md-size">
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/?trk=guest_homepage-basic_nav-header-logo"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>

                    <!-- Start Author  -->
                    <div class="about-author">
                        <div class="media">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="@ImageService.ConvertByteArrayToFile(@Model.Creator?.ImageData!, @Model.Creator?.ImageType!, (int)DefaultImage.BlogUserImage)" class="img-fluid authorBioImg" alt="author picture">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="author-info">
                                    <h5 class="title">
                                        <a class="hover-flip-item-wrapper" href="#">
                                            <span class="hover-flip-item">
                                                <span data-text="@Model.Creator?.FullName">@Model.Creator?.FullName</span>
                                            </span>
                                        </a>
                                    </h5>
                                    <span class="b3 subtitle">Full Stack Software Developer</span>
                                </div>
                                <div class="content">
                                    <p class="b1 description">Welcome to my Blog!</p>
                                    <p class="b1 description">Here, you can find topics in programming I've written about.</p>
                                    <p class="b1 description">In this blog, I talk about my development process for projects I've worked on. I hope this gives you valuable insight about how I approach problems and what I would do in certain situations.</p>
                                    <p class="b1 description">Thank you for visiting!</p>
                                    <ul class="social-share-transparent size-md">
                                        <li><a href="https://www.linkedin.com/in/txn9517"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="https://github.com/tn2690/"><i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Author  -->

                    <!-- Start Comment Form Area  -->
                    <div class="axil-comment-area">
                        <!-- if user is not logged in -->
                        @if (!(User.Identity!.IsAuthenticated))
                        {
                            <div class="axil-total-comment-post">
                                <div class="add-comment-button cerchio">
                                    <a class="btn btn-primary rounded-pill" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "BlogPosts", new { slug = Model.Slug })" tabindex="0"><span>Sign In to Join the Conversation</span></a>
                                </div>
                            </div>
                        }

                        <!-- user has to log in to see post comment fields -->
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <!-- Start Comment Respond  -->
                            <div class="comment-respond">
                                <h4 class="title">Post a comment</h4>
                                <form asp-action="Create" method="post" asp-controller="Comments">
                                    <input type="hidden" asp-for="Id" name="BlogPostId" />
                                    <input type="hidden" asp-for="Slug" />
                                    <div class="row row--10">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea id="message" name="Body" class="form-control editor"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group cerchio">
                                                <input name="submit" type="submit" id="submit" class="axil-button button-rounded" value="Post Comment">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End Comment Respond  -->
                        }

                        <!-- Start Comment Area  -->
                        <partial name="_Comments" />
                        <!-- End Comment Area  -->
                    </div>
                    <!-- End Comment Form Area  -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('.editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    }