@model IPagedList<BlogMVC.Models.BlogPost>
@using BlogMVC.Services.Interfaces
@using BlogMVC.Enums
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@inject IImageService ImageService

@{
    ViewData["Title"] = "Index";
}

<!-- BlogPost Index -->

<div class="main-wrapper">

    <div id="my_switcher" class="my_switcher">
        <ul>
            <li>
                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                    <span title="Light Mode">Light</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                    <span title="Dark Mode">Dark</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Start Post List Wrapper  -->
    <div class="axil-post-list-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                <h1>Published Blog Posts</h1>
                @* user is logged in and is an admin or mod to create and publish unpublished posts *@
                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator")) 
                {
                    <div class="row rows-col-1 row-cols-lg-3 mb-5">
                        <div class="col-12 col-lg-3 my-2">
                            <a asp-action="Create" class="btn btn-primary rounded-pill">Create New</a>
                        </div>

                        <div class="col-12 col-lg-3 my-2">
                            <a asp-action="PostsUnpub" class="btn btn-primary rounded-pill">See Posts - Unpublished</a>
                        </div>
                        
                        @* only admin can see deleted posts *@
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="col-12 col-lg-3 order-lg-last my-2">
                                <a asp-action="DeletedPostsPub" class="btn btn-primary rounded-pill">See Deleted Posts - Published</a>
                            </div>

                            <div class="col-12 col-lg-3 order-last my-2">
                                <a asp-action="DeletedPostsUnpub" class="btn btn-primary rounded-pill">See Deleted Posts - Unpublished</a>
                            </div>
                        }
                    </div>
                }
                <div class="col-lg-8 col-xl-8">
                    @foreach (BlogPost post in Model)
                    {
                        <!-- Start Post List  -->
                        <div class="content-block post-list-view mt--30">
                            <div class="post-thumbnail">
                                <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">
                                    <img src="@ImageService.ConvertByteArrayToFile(post.ImageData!, post.ImageType!, (int)DefaultImage.BlogPostImage)" alt="blog post pictures">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-cat">
                                    <div class="post-cat-list">
                                        <a class="hover-flip-item-wrapper">
                                            <span class="hover-flip-item">
                                                <span data-text="@post.Category!.Name">@post.Category.Name</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="title"><a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@post.Slug">@post.Title</a></h4>
                                <div class="post-meta-wrapper">
                                    <div class="post-meta">
                                        <div class="content">
                                            <h6 class="post-author-name">
                                                <a class="hover-flip-item-wrapper">
                                                    <span class="hover-flip-item">
                                                        <span data-text="@post.Creator?.FullName">@post.Creator?.FullName</span>
                                                    </span>
                                                </a>
                                            </h6>
                                            <ul class="post-meta-list">
                                                <li>@post.DateCreated.ToString("MMM dd, yyyy")</li>
                                                <li>@post.Comments!.Count comments</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                {
                                    <a asp-action="Edit" class="btn btn-primary rounded-pill my-2" asp-route-id="@post.Id">Edit</a>

                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <a asp-action="Delete" class="btn btn-primary rounded-pill my-2" asp-route-id="@post.Id">Delete</a>
                                    }
                                }
                            </div>
                        </div>
                        <!-- End Post List  -->
                    }

                    <!-- add page list -->
                    <div class="d-flex justify-content-end my-auto">
                        Page @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) of @Model.PageCount
                    </div>
                    <div id="page-selector" class="my-2 py-2">
                        @Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }),
                        new PagedListRenderOptions {
                        ContainerDivClasses = new string[] { "axil-single-widget", "widget", "widget_social" },
                        UlElementClasses = new string[] { "social-icon", "justify-content-center" },
                        LiElementClasses = new string[] { "fab", "fw-bold" }
                        })
                    </div>
                </div>

                <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                    <partial name="_Sidebar" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Post List Wrapper  -->

    <!-- Start Back To Top  -->
    <a id="backto-top"></a>
    <!-- End Back To Top  -->

</div>